absl-py==1.4.0
accelerate==0.19.0
aiodns==3.0.0
aiohttp==3.8.4
aiohttp-retry==2.8.3
aiohttp-socks==0.8.0
aiosignal==1.3.1
aleph-alpha-client==2.16.1
altair==4.2.2
ansi2html==1.8.0
anyio==3.7.0
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.5.2
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.2
attrs==23.1.0
autopep8==2.0.2
azure-ai-textanalytics==5.2.1
azure-cognitiveservices-speech==1.27.0
azure-common==1.1.28
azure-core==1.26.4
azure-storage-blob==12.15.0
backcall==0.2.0
backoff==2.2.1
base58==1.0.3
beautifulsoup4==4.12.2
bitarray==2.7.5
bitsandbytes==0.37.0
black==23.3.0
bleach==6.0.0
blinker==1.6.2
blobfile==2.0.1
boto3==1.26.102
botocore==1.29.102
Brotli==1.0.9
browserpilot==0.1.3
bs4==0.0.1
CacheControl==0.12.11
cached-property==1.5.2
cachetools==5.3.1
cchardet==2.1.7
certifi==2023.5.7
cffi==1.15.1
cfgv==3.3.1
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.3
click-log==0.4.0
cohere==3.10.0
colorama==0.4.6
comm==0.1.3
contourpy==1.0.7
cryptography==38.0.4
curl-cffi==0.5.6
cycler==0.11.0
cytoolz==0.12.1
dataclasses==0.6
dataclasses-json==0.5.7
dateutils==0.6.12
debugpy==1.6.7
decorator==5.1.1
deeplake==3.2.13
defopt==6.4.0
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.6
distlib==0.3.6
dnspython==2.3.0
docarray==0.32.1
docker==6.0.1
docutils==0.20.1
dotty-dict==1.3.1
EasyProcess==1.1
einops==0.6.1
elastic-transport==8.4.0
elasticsearch==8.7.0
entrypoint2==1.1
entrypoints==0.4
et-xmlfile==1.1.0
eth-abi==4.1.0
eth-account==0.9.0
eth-bloom==2.0.0
eth-hash==0.5.2
eth-keyfile==0.6.1
eth-keys==0.4.0
eth-rlp==0.3.0
eth-tester==0.8.0b3
eth-typing==3.4.0
eth-utils==2.2.0
ethereum-abi-utils==0.4.7
ethereum-tester==0.1.0b3
ethereum-utils==0.6.2
ethpm-types==0.5.3
evm-trace==0.1.0a19
exceptiongroup==1.1.1
executing==1.2.0
faiss-cpu==1.7.4
fake-useragent==1.1.3
Faker==17.6.0
fastapi==0.92.0
fastjsonschema==2.17.1
ffmpeg-python==0.2.0
filelock==3.12.0
firebase-admin==6.1.0
Flask==2.0.2
Flask-Cors==3.0.10
flatbuffers==23.5.26
fonttools==4.39.4
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.5.0
future==0.18.3
futureproof==0.3.1
fuzzywuzzy==0.18.0
fvalues==0.0.3
geographiclib==2.0
geojson==2.5.0
geopy==2.3.0
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-api-python-client==2.82.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.10.0
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-resumable-media==2.4.1
google-search-results==2.4.2
googleapis-common-protos==1.59.0
googlesearch-python==1.2.0
googletransx==2.4.2
gorilla==0.4.0
gotrue==1.0.2
gpt4free==1.0.2
gql==3.4.1
graphql-core==3.2.3
greenlet==2.0.2
grpcio==1.51.3
grpcio-status==1.51.3
gunicorn==20.1.0
h11==0.14.0
h2==4.1.0
hexbytes==0.3.1
hnswlib==0.7.0
hpack==4.0.0
html2text==2020.1.16
httpcore==0.16.3
httplib2==0.22.0
httpx==0.23.3
hub==3.0.1
huggingface-hub==0.15.1
humbug==0.2.8
hyperframe==6.0.1
identify==2.5.22
idna==3.4
importlib-metadata==6.6.0
importlib-resources==5.12.0
invoke==1.7.3
ipykernel==6.23.0
ipython==8.12.2
ipython-genutils==0.2.0
ipywidgets==8.0.6
isodate==0.6.1
isoduration==20.11.0
isort==5.12.0
itsdangerous==2.1.2
jaraco.classes==3.2.3
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_server==2.6.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
kafka-python==2.0.2
kaitaistruct==0.10
kaleido==0.2.1
keyring==23.13.1
kiwisolver==1.4.4
langchain==0.0.184
langchain-visualizer==0.0.13
langflow==0.0.45
ldap3==2.9.1
Levenshtein==0.20.9
llama-index==0.6.0
loguru==0.6.0
lru-dict==1.2.0
lxml==4.9.2
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mediapipe==0.10.1
merge-args==0.1.5
mistune==2.0.5
mitmproxy_wireguard==0.1.23
more-itertools==9.1.0
morphys==1.0
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.0.5
msgspec==0.16.0
msrest==0.7.1
mss==9.0.1
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==0.4.4
names==0.3.0
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.5.0
nbformat==5.9.0
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
nodeenv==1.7.0
notebook==6.5.4
notebook_shim==0.2.3
numcodecs==0.11.0
numerizer==0.2.2
numexpr==2.8.4
numpy==1.24.3
oauthlib==3.2.2
openai==0.27.6
openai-whisper==20230124
openapi-schema-pydantic==1.2.4
opencv-contrib-python==4.7.0.72
openpyxl==3.1.2
orjson==3.8.14
ought-ice==0.5.0
outcome==1.2.0
overrides==7.3.1
packaging==23.1
pandas==1.5.3
pandocfilters==1.5.0
parsimonious==0.9.0
parso==0.8.3
passlib==1.7.4
pathos==0.3.0
pathspec==0.11.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
pinecone-client==2.2.1
pkginfo==1.9.6
platformdirs==3.5.0
playsound==1.3.0
playwright==1.31.1
plotly==5.14.1
pockets==0.9.1
pornhub-api==0.3.0
postgrest==0.10.6
pox==0.3.2
ppft==1.7.6.6
pre-commit==3.2.2
prometheus-client==0.17.0
prompt-toolkit==3.0.38
promptlayer==0.1.80
proto-plus==1.22.2
protobuf==3.20.3
psutil==5.9.5
ptyprocess==0.7.0
publicsuffix2==2.20191221
pure-eval==0.2.2
py-cid==0.3.0
py-ecc==6.0.0
py-evm==0.6.1a2
py-geth==3.13.0
py-multibase==1.0.3
py-multicodec==0.2.1
py-multihash==0.2.3
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.2.8
PyAutoGUI==0.9.54
pycares==4.3.0
pycodestyle==2.10.0
pycoingecko==3.1.0
pycparser==2.21
pycryptodome==3.18.0
pycryptodomex==3.17
pydantic==1.10.7
pydeck==0.8.1b0
pydub==0.25.1
pyee==9.0.4
pyethash==0.1.27
PyGetWindow==0.0.9
Pygments==2.15.1
PyJWT==2.6.0
pylru==1.2.1
pymailtm==1.1.1
Pympler==1.0.1
PyMsgBox==1.0.9
pyobjc==9.0.1
pyobjc-core==9.0.1
pyobjc-framework-Accessibility==9.0.1
pyobjc-framework-Accounts==9.0.1
pyobjc-framework-AddressBook==9.0.1
pyobjc-framework-AdServices==9.0.1
pyobjc-framework-AdSupport==9.0.1
pyobjc-framework-AppleScriptKit==9.0.1
pyobjc-framework-AppleScriptObjC==9.0.1
pyobjc-framework-ApplicationServices==9.0.1
pyobjc-framework-AppTrackingTransparency==9.0.1
pyobjc-framework-AudioVideoBridging==9.0.1
pyobjc-framework-AuthenticationServices==9.0.1
pyobjc-framework-AutomaticAssessmentConfiguration==9.0.1
pyobjc-framework-Automator==9.0.1
pyobjc-framework-AVFoundation==9.0.1
pyobjc-framework-AVKit==9.0.1
pyobjc-framework-AVRouting==9.0.1
pyobjc-framework-BackgroundAssets==9.0.1
pyobjc-framework-BusinessChat==9.0.1
pyobjc-framework-CalendarStore==9.0.1
pyobjc-framework-CallKit==9.0.1
pyobjc-framework-CFNetwork==9.0.1
pyobjc-framework-ClassKit==9.0.1
pyobjc-framework-CloudKit==9.0.1
pyobjc-framework-Cocoa==9.0.1
pyobjc-framework-Collaboration==9.0.1
pyobjc-framework-ColorSync==9.0.1
pyobjc-framework-Contacts==9.0.1
pyobjc-framework-ContactsUI==9.0.1
pyobjc-framework-CoreAudio==9.0.1
pyobjc-framework-CoreAudioKit==9.0.1
pyobjc-framework-CoreBluetooth==9.0.1
pyobjc-framework-CoreData==9.0.1
pyobjc-framework-CoreHaptics==9.0.1
pyobjc-framework-CoreLocation==9.0.1
pyobjc-framework-CoreMedia==9.0.1
pyobjc-framework-CoreMediaIO==9.0.1
pyobjc-framework-CoreMIDI==9.0.1
pyobjc-framework-CoreML==9.0.1
pyobjc-framework-CoreMotion==9.0.1
pyobjc-framework-CoreServices==9.0.1
pyobjc-framework-CoreSpotlight==9.0.1
pyobjc-framework-CoreText==9.0.1
pyobjc-framework-CoreWLAN==9.0.1
pyobjc-framework-CryptoTokenKit==9.0.1
pyobjc-framework-DataDetection==9.0.1
pyobjc-framework-DeviceCheck==9.0.1
pyobjc-framework-DictionaryServices==9.0.1
pyobjc-framework-DiscRecording==9.0.1
pyobjc-framework-DiscRecordingUI==9.0.1
pyobjc-framework-DiskArbitration==9.0.1
pyobjc-framework-DVDPlayback==9.0.1
pyobjc-framework-EventKit==9.0.1
pyobjc-framework-ExceptionHandling==9.0.1
pyobjc-framework-ExecutionPolicy==9.0.1
pyobjc-framework-ExtensionKit==9.0.1
pyobjc-framework-ExternalAccessory==9.0.1
pyobjc-framework-FileProvider==9.0.1
pyobjc-framework-FileProviderUI==9.0.1
pyobjc-framework-FinderSync==9.0.1
pyobjc-framework-FSEvents==9.0.1
pyobjc-framework-GameCenter==9.0.1
pyobjc-framework-GameController==9.0.1
pyobjc-framework-GameKit==9.0.1
pyobjc-framework-GameplayKit==9.0.1
pyobjc-framework-HealthKit==9.0.1
pyobjc-framework-ImageCaptureCore==9.0.1
pyobjc-framework-IMServicePlugIn==9.0.1
pyobjc-framework-InputMethodKit==9.0.1
pyobjc-framework-InstallerPlugins==9.0.1
pyobjc-framework-InstantMessage==9.0.1
pyobjc-framework-Intents==9.0.1
pyobjc-framework-IntentsUI==9.0.1
pyobjc-framework-IOSurface==9.0.1
pyobjc-framework-iTunesLibrary==9.0.1
pyobjc-framework-KernelManagement==9.0.1
pyobjc-framework-LatentSemanticMapping==9.0.1
pyobjc-framework-LaunchServices==9.0.1
pyobjc-framework-libdispatch==9.0.1
pyobjc-framework-LinkPresentation==9.0.1
pyobjc-framework-LocalAuthentication==9.0.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==9.0.1
pyobjc-framework-MailKit==9.0.1
pyobjc-framework-MapKit==9.0.1
pyobjc-framework-MediaAccessibility==9.0.1
pyobjc-framework-MediaLibrary==9.0.1
pyobjc-framework-MediaPlayer==9.0.1
pyobjc-framework-MediaToolbox==9.0.1
pyobjc-framework-Metal==9.0.1
pyobjc-framework-MetalFX==9.0.1
pyobjc-framework-MetalKit==9.0.1
pyobjc-framework-MetalPerformanceShaders==9.0.1
pyobjc-framework-MetalPerformanceShadersGraph==9.0.1
pyobjc-framework-MetricKit==9.0.1
pyobjc-framework-MLCompute==9.0.1
pyobjc-framework-ModelIO==9.0.1
pyobjc-framework-MultipeerConnectivity==9.0.1
pyobjc-framework-NaturalLanguage==9.0.1
pyobjc-framework-NetFS==9.0.1
pyobjc-framework-Network==9.0.1
pyobjc-framework-NetworkExtension==9.0.1
pyobjc-framework-NotificationCenter==9.0.1
pyobjc-framework-OpenDirectory==9.0.1
pyobjc-framework-OSAKit==9.0.1
pyobjc-framework-OSLog==9.0.1
pyobjc-framework-PassKit==9.0.1
pyobjc-framework-PencilKit==9.0.1
pyobjc-framework-Photos==9.0.1
pyobjc-framework-PhotosUI==9.0.1
pyobjc-framework-PreferencePanes==9.0.1
pyobjc-framework-PushKit==9.0.1
pyobjc-framework-Quartz==9.0.1
pyobjc-framework-QuickLookThumbnailing==9.0.1
pyobjc-framework-ReplayKit==9.0.1
pyobjc-framework-SafariServices==9.0.1
pyobjc-framework-SafetyKit==9.0.1
pyobjc-framework-SceneKit==9.0.1
pyobjc-framework-ScreenCaptureKit==9.0.1
pyobjc-framework-ScreenSaver==9.0.1
pyobjc-framework-ScreenTime==9.0.1
pyobjc-framework-ScriptingBridge==9.0.1
pyobjc-framework-SearchKit==9.0.1
pyobjc-framework-Security==9.0.1
pyobjc-framework-SecurityFoundation==9.0.1
pyobjc-framework-SecurityInterface==9.0.1
pyobjc-framework-ServiceManagement==9.0.1
pyobjc-framework-SharedWithYou==9.0.1
pyobjc-framework-SharedWithYouCore==9.0.1
pyobjc-framework-ShazamKit==9.0.1
pyobjc-framework-Social==9.0.1
pyobjc-framework-SoundAnalysis==9.0.1
pyobjc-framework-Speech==9.0.1
pyobjc-framework-SpriteKit==9.0.1
pyobjc-framework-StoreKit==9.0.1
pyobjc-framework-SyncServices==9.0.1
pyobjc-framework-SystemConfiguration==9.0.1
pyobjc-framework-SystemExtensions==9.0.1
pyobjc-framework-ThreadNetwork==9.0.1
pyobjc-framework-UniformTypeIdentifiers==9.0.1
pyobjc-framework-UserNotifications==9.0.1
pyobjc-framework-UserNotificationsUI==9.0.1
pyobjc-framework-VideoSubscriberAccount==9.0.1
pyobjc-framework-VideoToolbox==9.0.1
pyobjc-framework-Virtualization==9.0.1
pyobjc-framework-Vision==9.0.1
pyobjc-framework-WebKit==9.0.1
pyOpenSSL==22.1.0
pyowm==3.3.0
pyparsing==3.0.9
PyPasser==0.0.5
pyperclip==1.8.2
PyQt6==6.4.2
PyQt6-Qt6==6.4.2
PyQt6-sip==13.4.1
PyRect==0.2.0
pyrsistent==0.19.3
pyscreenshot==3.1
PyScreeze==0.1.29
pysha3==1.0.2
PySocks==1.7.1
pytesseract==0.3.10
python-baseconv==1.2.2
python-dateutil==2.8.2
python-dotenv==1.0.0
python-gitlab==3.15.0
python-json-logger==2.0.7
python-Levenshtein==0.20.9
python-magic==0.4.27
python-semantic-release==7.33.2
python-socks==2.3.0
python-ulid==1.1.0
pytweening==1.0.7
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
pyzmq==25.0.2
qtconsole==5.4.3
QtPy==2.3.1
questionary==1.10.0
random-username==1.0.2
rapidfuzz==2.13.7
readme-renderer==37.3
realtime==1.0.0
regex==2023.5.5
replicate==0.6.1
requests==2.30.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.4.1
rlp==3.0.0
rouge-metric==1.0.1
rsa==4.9
ruamel.yaml==0.17.31
ruamel.yaml.clib==0.2.7
rubicon-objc==0.4.6
s3transfer==0.6.0
safe-pysha3==1.0.4
schedule==1.2.0
scikit-learn==1.2.2
scipy==1.10.1
screen-ocr==0.5.0
selenium==4.9.1
semantic-version==2.10.0
semver==2.13.0
Send2Trash==1.8.2
sentencepiece==0.1.97
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
sounddevice==0.4.6
soundfile==0.11.0
soupsieve==2.4.1
SpeechRecognition==3.8.1
sphinxcontrib-napoleon==0.7
SQLAlchemy==2.0.12
sseclient==0.0.27
stack-data==0.6.2
starlette==0.25.0
storage3==0.5.2
streamlit==1.21.0
StrEnum==0.4.10
structlog==22.3.0
stweet==2.1.1
supabase==1.0.3
supafunc==0.2.2
sympy==1.12
tenacity==8.2.2
terminado==0.17.1
thefuzz==0.19.0
threadpoolctl==3.1.0
tiktoken==0.4.0
tinycss2==1.2.1
tls-client==0.2.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
toolz==0.12.0
tor-python-easy==0.1.5
torch==2.0.1
torchaudio==0.13.1
torchvision==0.14.1
tornado==6.3.1
tqdm==4.65.0
tqdm-loggable==0.1.3
traitlets==5.9.0
transformers==4.29.2
trie==2.1.1
trio==0.22.0
trio-websocket==0.10.2
turbogpt==1.0.2
tweepy==4.14.0
tweet-capture==0.1.9
tweety-ns==0.7.1
twine==3.8.0
TwoCaptcha==0.0.1
typer==0.7.0
types-requests==2.31.0.0
types-urllib3==1.26.25.13
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==5.0.1
ujson==5.7.0
undetected-chromedriver==3.4.7
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.15
urwid==2.1.2
uvicorn==0.20.0
validators==0.20.0
varint==1.0.2
virtualenv==20.21.0
Wand==0.6.11
wcwidth==0.2.6
web3==3.16.3
webcolors==1.13
webdriver-manager==3.8.6
webencodings==0.5.1
websocket-client==1.5.2
websockets==10.4
Werkzeug==2.3.4
widgetsnbextension==4.0.7
wsproto==1.2.0
yarl==1.9.2
zipp==3.15.0
